.sidenav-container {
  height: 100vh; /* Set height to full viewport height */
}

.sidenav {
  width: 200px; /* Set width of the side menu */
}

.mat-sidenav-content {
  padding: 20px; /* Add some padding to the main content area */
}
